/*font-family: 'Knewave', cursive;*/
/*font-family: 'Gaegu', cursive;*/
/*font-family: 'Coda Caption', sans-serif;*/
/*font-family: 'Indie Flower', cursive;*/
/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Amatic SC', cursive;*/
/*font-family: 'Bangers', cursive;*/
/*font-family: 'Julius Sans One', sans-serif;*/
/*font-family: 'Fugaz One', cursive;*/
/*font-family: 'Nothing You Could Do', cursive;*/
/*font-family: 'Covered By Your Grace', cursive;*/
/*font-family: 'Rock Salt', cursive;*/
/*font-family: 'Days One', sans-serif;*/
/*font-family: 'Bowlby One SC', cursive;*/
/*font-family: 'Calligraffitti', cursive;*/
/*font-family: 'Sue Ellen Francisco', cursive;*/
/*font-family: 'Fontdiner Swanky', cursive;*/
/*font-family: 'Creepster', cursive;*/

.header-dizifilm{
	background: rgba(0,0,0,0.5);
}

.header-logo i{
	color: #fff;
}

.header-dizifilm  .header-logo h6 {
	font-weight: 600;
	color:#fff;
	text-shadow: 0 0 4px #4c4c4c;
}

.header-dizifilm  .menu li {
	color: #f5f5f5;
}
.header-dizifilm  .menu li p {
	text-shadow: 0 0 4px #000;
}

.dizifilm-background{
	background: url(../imgs/dizifilm/dizifilm_background.jpg) no-repeat center fixed;
	background-color: #000;
	background-blend-mode: hard-light;
	background-size: cover;
}

.dizifilm-slider{
	width: 100%;
	position: relative;
	z-index: 3;
	padding: 125px 0 275px;
}

.dizifilm-slider-ic {
	width: 1400px;
	margin: auto;
}

.dizifilm-slider ul{
	width: 95%;
	margin: 0 2.5%;
}

.dizifilm-slider li{
	position: relative;
	padding: 10px;
	width: 20%;
	float: left;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dizifilm-slider li div{

}

.dizifilm-slider li div img{
	width: 100%;
	opacity: 0.75;
	border: 2px solid #f5f5f5;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.39);
	-moz-box-shadow: 0 0 20px 0 rgba(0,0,0,.39);
	box-shadow: 0 30px 50px 5px rgba(0,0,0,.4);
}

.dizifilm-slider li h5{
	font-size:14px;
	font-weight:500;
	text-align:center;
	display:none;
}

.dizifilm-slider li:hover {
		z-index:2;
	cursor:pointer;
	}

.dizifilm-slider li:hover
	img{
	opacity:1;
	}

.dizifilm-slider li:nth-child(1){
	left: 7.5%;
	top: -10px;
	-moz-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	z-index: 1;
}

.dizifilm-slider li:nth-child(1):hover {
	top:-20px !important;
}

.dizifilm-slider li:nth-child(2){
	left: 2.5%;
	top: 50px;
	-moz-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}

.dizifilm-slider li:nth-child(2):hover {
	top:40px !important;
}

.dizifilm-slider li:nth-child(3){
	left: 0;
	top: 10px;
	z-index: 1;
}

.dizifilm-slider li:nth-child(3):hover {
	top:0 !important;
}

.dizifilm-slider li:nth-child(4){
	left: -3.5%;
	top: 70px;
	-moz-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
}

.dizifilm-slider li:nth-child(4):hover {
	top:60px !important;
}

.dizifilm-slider li:nth-child(5){
	left: -8.5%;
	top: 30px;
	-moz-transform: rotate(10deg);
	-webkit-transform: rotate(-10deg);
}

.dizifilm-slider li:nth-child(5):hover {
	top:20px !important;
}

.dizifilm-slider li:nth-child(-n+5) {
	margin-bottom:95px;
}

.dizifilm-slider li:nth-child(-n+5) h5{

}

.dizifilm-slider li:nth-child(6) {
	clear:left;
}

.dizifilm-slider-alt-text {
	clear: both;
	background: linear-gradient(to right, #191919, #4c4c4c, transparent);
	padding: 10px;
	margin-bottom: 20px;
	color: #f5f5f5;
	letter-spacing: 4px;
	font-family: 'Bangers', cursive;
}

.dizifilm-slider li:nth-child(n+6) {
	width: 12.5%;
	padding: 5px;
}

.dizifilm-slider li:nth-child(n+6) div img{
  height:200px;
  object-fit:cover;
}

.dizifilm-slider li:nth-child(n+6):hover
img{
	-webkit-transform: rotate(360deg) scale(2); /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
	-moz-transform: rotate(360deg) scale(2); /* Fx 3.5-15 */
	-ms-transform: rotate(360deg) scale(2); /* IE 9 */
	-o-transform: rotate(360deg) scale(2); /* Op 10.5-12 */
	transform: rotate(360deg) scale(2); /* Fx 16+, IE 10+ */
}

.dizifilm-slider li:nth-child(n+6):hover
h5{
	opacity:1;
	-webkit-transform: rotate(360deg) scale(1.92);
	-moz-transform: rotate(360deg) scale(1.92);
	-ms-transform: rotate(360deg) scale(1.92);
	-o-transform: rotate(360deg) scale(1.92);
	transform: rotate(360deg) scale(1.92);
}

.dizifilm-slider li:nth-child(n+6) h5{
	background: rgba(0,0,0,0.5);
	width: 100%;
	opacity: 0;
	display: block;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 8px;
	padding: 5px 0;
	font-weight: 600;
	color: #f5f5f5;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	position: absolute;
	left: 2px;
	top: 50%;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.dizifilm-grid1{
	position: relative;
	z-index: 2;
	width: 100%;
	background: #cecece;
	padding: 50px 0;
	background: url(../imgs/dizifilm/dizifilm-grid1.jpg) no-repeat center;
	overflow:hidden;
}

.dizifilm-grid1-fon{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}

.dizifilm-grid1-ic{
	width: 1400px;
	margin: auto;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.dizifilm-grid1-ic p{
	color:#ffffff;
	margin: 5px;
	font-size:16px;
}

.dizifilm-grid1-ic p:nth-child(odd){
	text-align:right;
	font-size:20px;
	color:#f5f5f5;
}

.dizifilm-grid1-ic p:nth-child(3n+1){
	text-align:center;
	font-size:24px;
	color:#e5e5e5;
}

.dizifilm-grid1-ic p:nth-child(4n){
	font-size:30px;
	color: #cecece;
}

.quotes-1{
	font-family: 'Knewave', cursive;
}
.quotes-2{
	font-family: 'Gaegu', cursive;
}
.quotes-3{
	font-family: 'Indie Flower', cursive;
}
.quotes-4{
	font-family: 'Anton', sans-serif;
}
.quotes-5{
	font-family: 'Amatic SC', cursive;
}
.quotes-6{
	font-family: 'Bangers', cursive;
}
.quotes-7{
	font-family: 'Julius Sans One', sans-serif;
}
.quotes-8{
	font-family: 'Fugaz One', cursive;
}
.quotes-9{
	font-family: 'Nothing You Could Do', cursive;
}
.quotes-10{
	font-family: 'Rock Salt', cursive;
}
.quotes-11{
	font-family: 'Days One', sans-serif;
}
.quotes-12{
	font-family: 'Bowlby One SC', cursive;
}
.quotes-13{
	font-family: 'Calligraffitti', cursive;
}
.quotes-14{
	font-family: 'Creepster', cursive;
}

.dizifilm-grid2{
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 50px 0;
	overflow:hidden;
	display:none;
}

.dizifilm-grid2-ic{
	width: 1400px;
	margin: auto;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.dizifilm-grid2-movie{
	width: 90%;
	margin: 0 5%;
}

.dizifilm-grid2-movie-ic{
	text-align: center;
	padding: 0;
	border: 2px solid #4c4c4c;
	margin: 10px;
	background: rgba(255,255,255,.5);
	overflow: hidden;
	position: relative;
}

.dizifilm-grid2-movie-ic>img{
	width:100%;
}

.dizifilm-grid3{
	position: relative;
	z-index: 2;
	width: 100%;
	overflow:hidden;
}

.dizifilm-grid3-ic{
	width: 1400px;
	padding: 50px 0;
	margin: auto;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

#carousel {
	width: 90%;
	margin: 0 5%;
	height: 500px;
	position: relative;
	clear: both;
}
#carousel img {
	max-width:30%;
	visibility:hidden; /* hide images until carousel can handle them */
	cursor:pointer; /* otherwise it's not as obvious items can be clicked */
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.39);
	-moz-box-shadow: 0 0 20px 0 rgba(0,0,0,.39);
	box-shadow: 0 30px 50px 5px rgba(0,0,0,.4);
	border: 2px solid rgba(0,0,0,.25);
}

.dizifilm-grid3-ic #prev, .dizifilm-grid3-ic #next{
	position: absolute;
	top: 45%;
	font-size: 35px;
	color: #4c4c4c;
	cursor:pointer;
	opacity:.75;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.dizifilm-grid3-ic #prev:hover, .dizifilm-grid3-ic #next:hover{
	opacity:1;
}

.dizifilm-grid3-ic #prev{
	left: 5px;
}

.dizifilm-grid3-ic #next{
	right: 5px;
}

/*Responsive Start*/

@media screen and (max-width: 1500px){

	.dizifilm-slider-ic, .dizifilm-grid1-ic, .dizifilm-grid2-ic, .dizifilm-grid3-ic{
		width: 1300px;
	}

}

@media screen and (max-width: 1400px){

	.dizifilm-slider-ic, .dizifilm-grid1-ic, .dizifilm-grid2-ic, .dizifilm-grid3-ic{
		width: 1200px;
	}

}

@media screen and (max-width: 1300px){

	.dizifilm-slider-ic, .dizifilm-grid1-ic, .dizifilm-grid2-ic, .dizifilm-grid3-ic{
		width:1100px;
	}

}

@media screen and (max-width: 1200px){

	.dizifilm-slider-ic, .dizifilm-grid1-ic, .dizifilm-grid2-ic, .dizifilm-grid3-ic{
		width:1000px;

	}

}
@media screen and (max-width: 1100px){

	.dizifilm-slider-ic, .dizifilm-grid1-ic, .dizifilm-grid2-ic, .dizifilm-grid3-ic{
		width:900px;
	}

}

@media screen and (max-width: 1000px){

	.dizifilm-slider-ic, .dizifilm-grid1-ic, .dizifilm-grid2-ic, .dizifilm-grid3-ic{
		width:800px;
	}

	.dizifilm-slider li:nth-child(4),.dizifilm-slider li:nth-child(5) {
		display: none;
	}

	.dizifilm-slider li {
		padding: 15px;
		width: 33.3%;
	}

	.dizifilm-slider li:nth-child(n+10) {
		display:none;
	}

	.dizifilm-slider li:nth-child(n+6) {
		width: 33.3%;
		padding: 30px;
	}

	.dizifilm-slider li:nth-child(n+6):hover
	img {
		-webkit-transform: rotate(360deg) scale(1.25);
		-moz-transform: rotate(360deg) scale(1.25);
		-ms-transform: rotate(360deg) scale(1.25);
		-o-transform: rotate(360deg) scale(1.25);
		transform: rotate(360deg) scale(1.25);
	}

	.dizifilm-slider li:nth-child(n+6):hover
	h5 {
		opacity: 1;
		-webkit-transform: rotate(360deg) scale(1);
		-moz-transform: rotate(360deg) scale(1);
		-ms-transform: rotate(360deg) scale(1);
		-o-transform: rotate(360deg) scale(1);
		transform: rotate(360deg) scale(1);
	}

	.dizifilm-slider li:nth-child(n+6) h5{
		font-size: 14px;
		width: calc(100% - 6px);
		left: 5px;
		-webkit-transform: rotate(360deg) scale(1);
		-moz-transform: rotate(360deg) scale(1);
		-ms-transform: rotate(360deg) scale(1);
		-o-transform: rotate(360deg) scale(1);
		transform: rotate(360deg) scale(1);
	}

	.dizifilm-grid1-ic p:nth-child(3n+1) {
		display: none;
	}

}

@media screen and (max-width: 900px){

	.dizifilm-slider-ic, .dizifilm-grid1-ic, .dizifilm-grid2-ic, .dizifilm-grid3-ic{
		width:700px;
	}

}

@media screen and (max-width: 800px){

	.dizifilm-slider-ic, .dizifilm-grid1-ic, .dizifilm-grid2-ic, .dizifilm-grid3-ic{
		width:600px;
	}

	.dizifilm-grid3-ic{
		padding: 0;
	}

}

@media screen and (max-width: 700px){

	.dizifilm-slider-ic, .dizifilm-grid1-ic, .dizifilm-grid2-ic, .dizifilm-grid3-ic{
		width:500px;
	}

	.dizifilm-slider li:nth-child(3) {
		display: none;
	}

	.dizifilm-slider li {
		padding: 10px;
		width: 50%;
	}

	.dizifilm-slider li:nth-child(n+9) {
		display: none;
	}

	.dizifilm-slider li:nth-child(n+6) {
		width: 50%;
		padding: 20px;
	}

	.dizifilm-grid1-ic p:nth-child(odd) {
		display: none;
	}

	.dizifilm-grid1-ic p {
		font-size: 15px;
		text-align: center;
	}

	.dizifilm-grid1-ic p:nth-child(4n) {
		font-size: 20px;
		text-align: center;
	}

	.dizifilm-grid1 {
		padding: 25px 0;
		background-size: cover;
	}

}

@media screen and (max-width: 600px){

	.dizifilm-slider-ic, .dizifilm-grid1-ic, .dizifilm-grid2-ic, .dizifilm-grid3-ic{
		width:400px;
	}

	.mobile-menu-nav{
		display: block;
	}

}

@media screen and (max-width: 500px){

	.dizifilm-slider-ic, .dizifilm-grid1-ic, .dizifilm-grid2-ic, .dizifilm-grid3-ic{
		width:90%;
	}

}