html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Clearing floats */
.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}

/* **** START YOUR CSS BELOW **** */

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background: url(../imgs/preloader_3.gif) center no-repeat #fff;
}

.main
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.main-background
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../imgs/main_background.jpg) no-repeat center fixed;
	background-color: #000;
	background-blend-mode: hard-light;
	background-size: cover;
}

.main-background::before{
	background-color: rgba(255, 255, 255, 0.75);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}

/* Header Başlangıç */

.header{
	width: 100%;
	margin-top: 15px;
	position: fixed;
	background: rgba(255,255,255,.5);
	z-index: 99999;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-moz-transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.header-ic{
	width:1400px;
	margin:auto;
	overflow:hidden;
}

.header-logo{
	width:100px;
	float:left;
	text-align: center;
	color:#000;
	padding: 0 0 5px;
	-moz-transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.header-logo img{
	width:100%;
}

.header-logo i{
	color:#000;
}

.header-logo h1 {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 1;
	color:#000;
}

.header.scrolldown{
	background: rgba(255,255,255,1);
	margin-top: 0;
	border-color: #4c4c4c;
	border-top: none;
}

.header.scrolldown .header-logo i{
	color:#000000;
}

.header.scrolldown .header-logo h1 {
	font-size: 10px;
	text-shadow: none;
	color: #000;
}

.header.scrolldown .header-logo i{
	font-size: 2em;
	text-shadow:none;
}

.menu {
	display: flex;
	justify-content: center;
	height: 100%;
	max-width: 600px;
	margin: auto;
}

.menu a{
	text-decoration:none;
}

.menu li{
	text-align: center;
	float: left;
	font-size: 12px;
	color: #000;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 1;
	margin: 0 15px;
}

.menu.menu-up li{
	padding: 20px 0 0;
}

.menu li i {
	font-size: 35px;
	-moz-transition: 0.25s ease-in-out;
	-webkit-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

.menu li p{
	float: none;
	font-weight:700;
	margin-top: -20px;
	opacity:0;
	overflow: hidden;
	-moz-transition: 0.25s ease-in-out;
	-webkit-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

.menu li p span{
	float:left;
}

.menu li p span:nth-child(odd){
	margin:1px;
}

.menu.menu-up li:hover i{
	transform: rotate(360deg);
	font-size: 20px;
}

.menu.menu-down li:hover i{
	transform: rotate(360deg);
	font-size: 25px;
	color:#000;
}

.menu.menu-up li:hover p{
	opacity: 1;
	margin-top: 10px;
}

.menu.menu-down li:hover p{
	opacity: 1;
	margin-top: 0;
	margin-left:0;
	color:#000;
}

.menu-down{
	margin: 12px auto 0;
}

.menu.menu-down li{
	color:#4c4c4c !important;
	text-shadow:none;
}

.menu.menu-down i{
	float: left;
	margin: 0 5px 0 0;
	font-size: 25px;
}

.menu.menu-down p{
	float: left;
	opacity: 0;
	margin-top: 0;
	margin-left: -40px;
	padding-top: 4px;
	text-shadow:none !important;
}

/* Header Bitiş */


.slider{
	width:100%;
}

#slides{
	background:#000;
}

.slider-text{
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-text h2 {
	font-size: 35px;
	color: #fff;
	text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
}

.slider-social{
	position:fixed;
	right:0;
	top:115px;
	z-index: 9999;
	-moz-transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.slider-social div {
	width: 15px;
	padding: 5px 10px;
	margin-bottom: 5px;
	background: rgba(255,255,255,.5);
	color: #000;
	-moz-transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	float: right;
	clear: both;
	border-left: 1px solid #fff;
}

.slider-social div:hover{
	width: 30px;
	color:#fff;
}

.slider-social-youtube:hover{
	background:rgba(187, 0, 0,1) !important;
}

.slider-social-linkedin:hover{
	background:rgba(0, 123, 182,1) !important;
}

.slider-social-instagram:hover{
	background:rgba(18, 86, 136,1) !important;
}

.slider-social-twitter:hover{
	background:rgba(0,172,237,1) !important;
}

.slider-social-git:hover{
	background:#24292e !important;
}

.slider-social-mail:hover{
	background:#4c4c4c !important;
}

.slider-social.scrolldown{
	top:65px;
}

.slider-social.scrolldown div {
	background: rgba(255,255,255,1);
	border-left-color: #000;
}

.grid1{
	position: relative;
	z-index: 2;
	width: 100%;
	background: #cecece;
	padding: 50px 0;
}

.grid1-ic{
	width:1400px;
	margin:auto;
	overflow:hidden;
}

.grid1-ic>h1 {
	font-size: 30px;
	color: #4c4c4c;
	width: 50%;
	margin: 20px auto;
	text-align: center;
	font-weight: 500;
}

.grid1-ic>h1 b{
	font-weight:600;
}

.grid1-ic>p {
	font-size: 15px;
	color: #4c4c4c;
	text-align: center;
	width: 80%;
	margin: auto;
}

.grid1-ic>p:first-letter{
	font-size:30px;
}

.grid1-anime {
	text-align: center;
}

.grid1-anime i:first-child{
	font-size:5em;
	webkit-animation: fa-spin 3s infinite linear;
	animation: fa-spin 3s infinite linear;
}

.grid1-anime i:nth-last-child(1){
	position: relative;
	left: -35px;
	webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
	-moz-animation-direction: reverse;
	-o-animation-direction: reverse;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

.grid1-box{
	width: 100%;
	display: flex;
	margin: 20px 0;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: stretch;
}

.grid1-box>div{
	margin: 15px;
	padding: 15px;
	border: 1px solid #4c4c4c;
	background: #fff;
	-moz-transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	flex: 1;
	flex-basis: 200px;
	/* height: 200px; */
	min-width: 100px;
	max-width: 200px;
	margin: auto;
}

.grid1-box>div:nth-child(2n+1){
	background:#e5e5e5;
}

.grid1-box>div h3{
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	-moz-transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.grid1-box>div h4{
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	line-height: 3;
}

.grid1-box>div h4 b{
	font-weight: 700;
}

.grid1-box>div p{
	font-size: 12px;
	font-weight: 400;
	text-align: justify;
}

.grid1-box>div:hover{
	border-color:transparent;
}

.grid1-box>div:hover
	h3 {
		transform: rotate(360deg);
	}

.grid1-box2{
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
}

.grid1-box2-alan {
	display: flex;
	flex-direction: column;
	border: 1px solid #000;
	border-radius: 4px;
	overflow: hidden;
}

.grid1-box2-alan-flex{
	-ms-flex: 1 1 0%;
	flex: 1 1 0%;
	border: none;
	border-radius: 0;
}

.grid1-box2-icerik{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 15px;
	border: 1px solid #4c4c4c;
	background: #fff;
	margin: 5px;
}

.grid1-box2-icerik-flex{
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.grid1-box2-icerik h3{
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	-moz-transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.grid1-box2-icerik h4{
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	line-height: 3;
}

.grid1-box2-icerik h4 b{
	font-weight: 700;
}

.grid1-box2-icerik p{
	font-size: 12px;
	font-weight: 400;
	text-align: justify;
}

.grid1-box2>div:nth-child(2n+1)>div{
	background:#e5e5e5;
}

.grid1-box2-icerik:hover{
	border-color:transparent;
}

.grid1-box2-icerik:hover
h3 {
	transform: rotate(360deg);
}

.grid2{
	position:relative;
	z-index:2;
	width:100%;
	background:rgba(255,255,255,.0);
	height:500px;
	padding:50px 0;
    border-top: 1px solid rgba(0,0,0,.5);
    border-bottom: 1px solid rgba(0,0,0,.5);
}

.grid2-ic{
	width: 1400px;
	margin: auto;
	overflow: hidden;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid2-mars-pass{
	width:750px;
}

.grid3{
	position:relative;
	z-index:2;
	width:100%;
	height:500px;
	padding:50px 0;
	animation: blink 20s linear infinite;
	-webkit-animation: blink 20s linear infinite;
}

.grid3-ic{
	width: 1400px;
	margin: auto;
	overflow: hidden;
	color: limegreen;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
}

@keyframes blink {
	0% {
		background: rgb(20, 20, 20);
	}
	14.3% {
		background: rgb(40, 40, 40);
	}
	28.6% {
		background: rgb(60, 60, 60);
	}
	42.9% {
		background: rgb(80, 80, 80);
	}
	57.2% {
		background: rgb(70, 70, 70);
	}
	71.5% {
		background: rgb(60, 60, 60);
	}
	85.8% {
		background: rgb(40, 40, 40);
	}
	100% {
		background: rgb(20, 20, 20);
	}
}

@-webkit-keyframes blink {
	0% {
		background: violet;
	}
	14.3% {
		background: indigo;
	}
	28.6% {
		background: blue;
	}
	42.9% {
		background: green;
	}
	57.2% {
		background: yellow;
	}
	71.5% {
		background: orange;
	}
	85.8% {
		background: red;
	}
	100% {
		background: violet;
	}
}

.grid4{
	position:relative;
	z-index:2;
	width:100%;
	background:rgba(255,255,255,.0);
	height:500px;
	padding:50px 0;
	display: flex;
	align-items: center;
	justify-content: center;
    border-top: 1px solid rgba(0,0,0,.5);
    border-bottom: 1px solid rgba(0,0,0,.5);
}

.grid4-ic{
	width:1400px;
	margin:auto;
	overflow:hidden;
}

.grid4-box{
	width: 90%;
	margin: 0 5%;
}

.grid4-box-ic{
	text-align: center;
	padding: 0;
	border: 2px solid #4c4c4c;
	margin: 10px;
	background: rgba(255,255,255,.5);
	overflow:hidden;
	position:relative;
}

.grid4-box-ic img{
	width: 100%;
	transform: matrix(1, 0, 0, 1, 0, 0);
	position: relative;
	bottom: -75px;
	-moz-transition: 2.5s ease-in-out;
	-webkit-transition: 2.5s ease-in-out;
	-o-transition: 2.5s ease-in-out;
	transition: 2.5s ease-in-out;
}

.grid4-box-ic figure {
	display:flex;
}

.grid4-box-ic figure img{
	object-fit: cover;
	object-position: 25% 10%;
}

.grid4-box-ic>div{
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	background: rgba(255,255,255,.5);
	padding: 10px 0;
	-moz-transition: 2.5s ease-in-out;
	-webkit-transition: 2.5s ease-in-out;
	-o-transition: 2.5s ease-in-out;
	transition: 2.5s ease-in-out;
}

.grid4-box-ic:hover img{
	transform: matrix(1.2, 0, 0, 1.2, 0, 0);
	bottom: -25px;
}

.grid4-box-ic:hover div{
	background: rgba(255,255,255,1);
}

.slick-prev, .slick-next{
	width: 25px !important;
	height: 25px !important;
}

.slick-prev:before, .slick-next:before{
	color:#4c4c4c !important;
	font-size: 25px !important;
}

.slick-dots li button:before{
	font-size:10px !important;
}

.footer-space {
	height: 100px !important;
}

.footer {
	width: 100%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	background: rgba(0,0,0,.85);
	padding: 25px 0;
    border-top: 1px solid rgba(255,255,255,.5);
}

.footer-ic{
	width:1400px;
	margin:auto;
	overflow:hidden;
}

.footer-ic p {
	color: #fff;
	font-size: 12px;
	font-weight: 500;
}

.site-up {
	position: fixed;
	right: 25px;
	bottom: 75px;
	z-index: 9999;
	background: rgba(0,0,0,.75);
	border: 1px solid #f5f5f5;
	color: #fff;
	padding: 0 10px;
	border-radius: 100%;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	display: none;
	-moz-transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.site-up:hover{
	background: rgba(0,0,0,1);
}


/* SOLAR SYSTEM CSS START */

.body-div {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: #08090A;
	overflow: hidden;
	position: relative;
}

#universe {
	z-index: 1;
	position: absolute;
	overflow: hidden;
    width: 100%;
	height: 100%;
	background-position: center 40%;
	background-repeat: no-repeat;
	background-size: cover; }

#galaxy {
	position: relative;
	width: 100%;
	height: 100%;
	/*perspective: 4000;*/ }

#solar-system {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d; }

.orbit {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	transform-style: preserve-3d;
	animation-name: orbit;
	animation-iteration-count: infinite;
	animation-timing-function: linear; }

.orbit .orbit {
	animation-name: suborbit; }

.pos {
	position: absolute;
	top: 50%;
	width: 2em;
	height: 2em;
	margin-top: -1em;
	margin-left: -1em;
	transform-style: preserve-3d;
	animation-name: invert;
	animation-iteration-count: infinite;
	animation-timing-function: linear; }

#sun, .planet, #earth .moon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	margin-left: -0.5em;
	border-radius: 50%;
	transform-style: preserve-3d; }

#sun {
	background-color: #FB7209;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 60px rgba(255, 160, 60, 0.4); }

.planet {
	background-color: #202020;
	background-repeat: no-repeat;
	background-size: cover;
	animation-iteration-count: infinite;
	animation-timing-function: linear; }

.ring {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%; }

#saturn .ring {
	width: 2em;
	height: 2em;
	margin-top: -1.25em;
	margin-left: -1.25em;
	border: 0.3em solid rgba(160, 147, 130, 0.7);
	animation-iteration-count: infinite;
	animation-timing-function: linear; }

#saturn .ring:after {
	border-radius: 50%;
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	width: 2.2em;
	height: 2.2em;
	margin-top: -1.1em;
	margin-left: -1.1em;
	border: 0.07em solid rgba(160, 147, 130, 0.5);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

/* --------------------------------------------------------------------------- planets index */
#mercury {
	z-index: 10; }

#venus {
	z-index: 9; }

#earth {
	z-index: 8; }

#moon {
	z-index: 7; }

#mars {
	z-index: 6; }

#jupiter {
	z-index: 5; }

#saturn {
	z-index: 4; }

#uranus {
	z-index: 3; }

#neptune {
	z-index: 2; }

#sun {
	z-index: 1; }

/* --------------------------------------------------------------------------- animations */
@keyframes orbit {
	0% {
		transform: rotateZ(0deg); }

	100% {
		transform: rotateZ(-360deg); } }

@keyframes suborbit {
	0% {
		transform: rotateX(90deg) rotateZ(0deg); }

	100% {
		transform: rotateX(90deg) rotateZ(-360deg); } }

@keyframes invert {
	0% {
		transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg); }

	100% {
		transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg); } }

/* --------------------------------------------------------------------------- opening */
.view-3D .opening #sun,
.view-3D .opening .orbit,
.view-3D .opening .pos,
.view-3D .opening .planet,
.view-3D .opening .satelite,
.view-3D .opening .ring {
	transition-duration: 4s; }

#universe.opening #sun {
	box-shadow: 0 0 0 rgba(255, 160, 60, 0); }

/* --------------------------------------------------------------------------- 2D view */
.view-2D.zoom-large #sun {
	transform-style: flat; }

.view-2D.zoom-large .orbit {
	transform-style: flat; }

.view-2D #sun,
.view-2D .ring {
	transform: rotateX(0deg); }

.view-2D .planet,
.view-2D .moon {
	transform: rotateX(90deg); }

/* --------------------------------------------------------------------------- 3D view */
.view-3D.zoom-large #sun {
	transform-style: preserve-3d; }

.view-3D.zoom-large .orbit {
	transform-style: preserve-3d; }

.view-3D #solar-system {
	transform: rotateX(75deg); }

.view-3D #sun {
	transform: rotateX(-90deg); }

.view-3D .ring {
	transform: rotateX(90deg); }

.view-3D .planet,
.view-3D .moon {
	transform: rotateX(0deg); }

/* --------------------------------------------------------------------------- large zoom */
.zoom-large #solar-system {
	width: 100%; }

.zoom-large.view-2D .scale-stretched #solar-system {
	font-size: 26%; }

.zoom-large.view-3D .scale-stretched #solar-system {
	font-size: 62%; }

.zoom-large.view-2D .scale-d #solar-system {
	font-size: 22%; }

.zoom-large.view-3D .scale-d #solar-system {
	font-size: 48%; }

.zoom-large.view-2D .scale-s #solar-system {
	font-size: 7%; }

.zoom-large.view-3D .scale-s #solar-system {
	font-size: 14%; }

/* --------------------------------------------------------------------------- close zoom */
.zoom-close #solar-system {
	width: 200%;
	font-size: 100%; }

.zoom-close .scale-stretched #solar-system {
	margin-left: -100%; }

.zoom-close .scale-d #solar-system {
	margin-left: -106%; }

.zoom-close.view-2D .scale-d #solar-system {
	font-size: 84%; }

.zoom-close.view-3D .scale-d #solar-system {
	font-size: 84%; }

.zoom-close .scale-s #solar-system {
	margin-left: -145%; }

.zoom-close.view-2D .scale-s #solar-system {
	font-size: 40%; }

.zoom-close.view-3D .scale-s #solar-system {
	font-size: 40%; }

.zoom-close .orbit,
.zoom-close .pos,
.zoom-close .planet,
.zoom-close .satelite,
.zoom-close .ring {
	animation-play-state: paused!important;
	animation-duration: 0s!important;
	animation: none!important; }

.zoom-close.view-2D .planet,
.zoom-close.view-2D .moon {
	transform: rotateX(0deg); }

.zoom-close.view-3D .planet {
	transform: rotateX(-90deg); }

.zoom-close.view-3D .moon {
	transform: rotateX(90deg); }

.zoom-close .pos {
	left: 100%!important;
	top: 50%!important; }

/* --------------------------------------------------------------------------- data */
/* --------------------------------------------------------------------------- speed */
/* sideral years */
#mercury .pos,
#mercury .planet,
#mercury.orbit {
	animation-duration: 2.89016s; }

#venus .pos,
#venus .planet,
#venus.orbit {
	animation-duration: 7.38237s; }

#earth .pos,
#earth .planet,
#earth.orbit {
	animation-duration: 12.00021s; }

#earth .orbit .pos,
#earth .orbit {
	animation-duration: 0.89764s; }

#mars .pos,
#mars .planet,
#mars.orbit {
	animation-duration: 22.57017s; }

#jupiter .pos,
#jupiter .planet,
#jupiter.orbit {
	animation-duration: 142.35138s; }

#saturn .pos,
#saturn .planet,
#saturn.orbit,
#saturn .ring {
	animation-duration: 353.36998s; }

#uranus .pos,
#uranus .planet,
#uranus.orbit {
	animation-duration: 1008.20215s; }

#neptune .pos,
#neptune .planet,
#neptune.orbit {
	animation-duration: 1977.49584s; }

/* --------------------------------------------------------------------------- planets sizes */
/* --------------------------------------------------------------------------- stretched sizes */
.scale-stretched #sun {
	font-size: 24em; }

.scale-stretched #mercury .planet {
	font-size: 1.5em; }

.scale-stretched #venus .planet {
	font-size: 3.72em; }

.scale-stretched #earth .planet {
	font-size: 3.92em; }

.scale-stretched #earth .moon {
	font-size: 1.2em; }

.scale-stretched #mars .planet {
	font-size: 2.9em; }

.scale-stretched #jupiter .planet {
	font-size: 12em; }

.scale-stretched #saturn .planet {
	font-size: 10.8em; }

.scale-stretched #uranus .planet {
	font-size: 4.68em; }

.scale-stretched #neptune .planet {
	font-size: 4.9em; }

/* --------------------------------------------------------------------------- scaled sizes */
/*
(planets radius * 2) * ratio
*/
/*$distanceScaleRatio:   0.000075em;*/
/* --------------------------------------------------------------------------- planets distance scale sizes */
.scale-d #sun {
	font-size: 41.73048em; }

.scale-d #mercury .planet {
	font-size: 0.14634em; }

.scale-d #venus .planet {
	font-size: 0.36306em; }

.scale-d #earth .planet {
	font-size: 0.38226em; }

.scale-d #earth .moon {
	font-size: 0.08226em; }

.scale-d #mars .planet {
	font-size: 0.20334em; }

.scale-d #jupiter .planet {
	font-size: 4.19466em; }

.scale-d #saturn .planet {
	font-size: 3.49392em; }

.scale-d #uranus .planet {
	font-size: 1.52172em; }

.scale-d #neptune .planet {
	font-size: 1.47732em; }

/* --------------------------------------------------------------------------- planet size scale sizes */
.scale-s #sun {
	font-size: 417.3048em; }

.scale-s #mercury .planet {
	font-size: 1.4634em; }

.scale-s #venus .planet {
	font-size: 3.6306em; }

.scale-s #earth .planet {
	font-size: 3.8226em; }

.scale-s #earth .moon {
	font-size: 0.8226em; }

.scale-s #mars .planet {
	font-size: 2.0334em; }

.scale-s #jupiter .planet {
	font-size: 41.9466em; }

.scale-s #saturn .planet {
	font-size: 34.9392em; }

.scale-s #uranus .planet {
	font-size: 15.2172em; }

.scale-s #neptune .planet {
	font-size: 14.7732em; }

/* --------------------------------------------------------------------------- stretched orbits */
.scale-stretched #mercury.orbit {
	width: 32em;
	height: 32em;
	margin-top: -16em;
	margin-left: -16em; }

.scale-stretched #venus.orbit {
	width: 40em;
	height: 40em;
	margin-top: -20em;
	margin-left: -20em; }

.scale-stretched #earth.orbit {
	width: 56em;
	height: 56em;
	margin-top: -28em;
	margin-left: -28em; }

.scale-stretched #earth .orbit {
	width: 6em;
	height: 6em;
	margin-top: -3em;
	margin-left: -3em; }

.scale-stretched #mars.orbit {
	width: 72em;
	height: 72em;
	margin-top: -36em;
	margin-left: -36em; }

.scale-stretched #jupiter.orbit {
	width: 100em;
	height: 100em;
	margin-top: -50em;
	margin-left: -50em; }

.scale-stretched #saturn.orbit {
	width: 150em;
	height: 150em;
	margin-top: -75em;
	margin-left: -75em; }

.scale-stretched #uranus.orbit {
	width: 186em;
	height: 186em;
	margin-top: -93em;
	margin-left: -93em; }

.scale-stretched #neptune.orbit {
	width: 210em;
	height: 210em;
	margin-top: -105em;
	margin-left: -105em; }

/* --------------------------------------------------------------------------- scaled orbits */
/* --------------------------------------------------------------------------- distance scale orbits */
.scale-d #mercury.orbit {
	width: 44.74176em;
	height: 44.74176em;
	margin-top: -22.37088em;
	margin-left: -22.37088em; }

.scale-d #venus.orbit {
	width: 47.35737em;
	height: 47.35737em;
	margin-top: -23.67869em;
	margin-left: -23.67869em; }

.scale-d #earth.orbit {
	width: 49.50959em;
	height: 49.50959em;
	margin-top: -24.75479em;
	margin-left: -24.75479em; }

.scale-d #mars.orbit {
	width: 53.58356em;
	height: 53.58356em;
	margin-top: -26.79178em;
	margin-left: -26.79178em; }

.scale-d #jupiter.orbit {
	width: 82.2042em;
	height: 82.2042em;
	margin-top: -41.1021em;
	margin-left: -41.1021em; }

.scale-d #saturn.orbit {
	width: 115.91713em;
	height: 115.91713em;
	margin-top: -57.95857em;
	margin-left: -57.95857em; }

.scale-d #uranus.orbit {
	width: 191.00471em;
	height: 191.00471em;
	margin-top: -95.50235em;
	margin-left: -95.50235em; }

.scale-d #neptune.orbit {
	width: 275.64709em;
	height: 275.64709em;
	margin-top: -137.82355em;
	margin-left: -137.82355em; }

/* Moon */
.scale-d #earth .orbit {
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	margin-left: -0.5em; }

/* --------------------------------------------------------------------------- size scale orbits */
.scale-s #mercury.orbit {
	width: 441.3048em;
	height: 441.3048em;
	margin-top: -220.6524em;
	margin-left: -220.6524em; }

.scale-s #venus.orbit {
	width: 457.3048em;
	height: 457.3048em;
	margin-top: -228.6524em;
	margin-left: -228.6524em; }

.scale-s #earth.orbit {
	width: 473.3048em;
	height: 473.3048em;
	margin-top: -236.6524em;
	margin-left: -236.6524em; }

.scale-s #mars.orbit {
	width: 489.3048em;
	height: 489.3048em;
	margin-top: -244.6524em;
	margin-left: -244.6524em; }

.scale-s #jupiter.orbit {
	width: 561.3048em;
	height: 561.3048em;
	margin-top: -280.6524em;
	margin-left: -280.6524em; }

.scale-s #saturn.orbit {
	width: 705.3048em;
	height: 705.3048em;
	margin-top: -352.6524em;
	margin-left: -352.6524em; }

.scale-s #uranus.orbit {
	width: 817.3048em;
	height: 817.3048em;
	margin-top: -408.6524em;
	margin-left: -408.6524em; }

.scale-s #neptune.orbit {
	width: 881.3048em;
	height: 881.3048em;
	margin-top: -440.6524em;
	margin-left: -440.6524em; }

/* Moon */
.scale-s #earth .orbit {
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	margin-left: -0.5em; }

/* --------------------------------------------------------------------------- text infos data */
/* --------------------------------------------------------------------------- speed */
.set-speed dl.infos dd span:after {
	content: 'Yörünge Hızı'; }

.set-speed #sun dl.infos dd:after {
	content: '0 km/h'; }

.set-speed #mercury dl.infos dd:after {
	content: '170,503 km/h'; }

.set-speed #venus dl.infos dd:after {
	content: '126,074 km/h'; }

.set-speed #earth dl.infos dd:after {
	content: '107,218 km/h'; }

.set-speed #mars dl.infos dd:after {
	content: '86,677 km/h'; }

.set-speed #jupiter dl.infos dd:after {
	content: '47,002 km/h'; }

.set-speed #saturn dl.infos dd:after {
	content: '34,701 km/h'; }

.set-speed #uranus dl.infos dd:after {
	content: '24,477 km/h'; }

.set-speed #neptune dl.infos dd:after {
	content: '19,566 km/h'; }

/* --------------------------------------------------------------------------- size */
.set-size dl.infos dd span:after {
	content: 'Ekvatoral Çevresi'; }

.set-size #sun dl.infos dd:after {
	content: '4,370,005 km'; }

.set-size #mercury dl.infos dd:after {
	content: '15,329 km'; }

.set-size #venus dl.infos dd:after {
	content: '38,024 km'; }

.set-size #earth dl.infos dd:after {
	content: '40,030 km'; }

.set-size #mars dl.infos dd:after {
	content: '21,296 km'; }

.set-size #jupiter dl.infos dd:after {
	content: '439,263 km'; }

.set-size #saturn dl.infos dd:after {
	content: '365,882 km'; }

.set-size #uranus dl.infos dd:after {
	content: '159,354 km'; }

.set-size #neptune dl.infos dd:after {
	content: '154,704 km'; }

/* --------------------------------------------------------------------------- distance */
.set-distance dl.infos dd span:after {
	content: 'Güneşten'; }

.set-distance #sun dl.infos dd span:after {
	content: 'Dünyadan'; }

.set-distance #sun dl.infos dd:after {
	content: '149,598,262 km'; }

.set-distance #mercury dl.infos dd:after {
	content: '57,909,227 km'; }

.set-distance #venus dl.infos dd:after {
	content: '108,209,475 km'; }

.set-distance #earth dl.infos dd:after {
	content: '149,598,262 km'; }

.set-distance #mars dl.infos dd:after {
	content: '227,943,824 km'; }

.set-distance #jupiter dl.infos dd:after {
	content: '778,340,821 km'; }

.set-distance #saturn dl.infos dd:after {
	content: '1,426,666,422 km'; }

.set-distance #uranus dl.infos dd:after {
	content: '2,870,658,186 km'; }

.set-distance #neptune dl.infos dd:after {
	content: '4,498,396,441 km'; }

/* --------------------------------------------------------------------------- planets starting position and lighting effect */
/* --------------------------------------------------------------------------- mercury ; pos: Top */
#mercury .pos {
	left: 50%;
	top: -1%; }

#mercury .planet {
	animation-name: shadow-mercury; }

@keyframes shadow-mercury {
	0% {
		box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
		/* TOP */ }

	25% {
		box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
		/* LEFT */ }

	50% {
		box-shadow: inset 13px -5px 4px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	50.01% {
		box-shadow: inset -13px -5px 4px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	75% {
		box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
		/* RIGHT */ }

	100% {
		box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
		/* TOP */ } }

.scaled.view-2D #mercury .planet,
.scaled.view-3D #mercury .planet {
	box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
	/* RIGHT */ }

/* --------------------------------------------------------------------------- venus ; pos: Left */
#venus .pos {
	left: 0;
	top: 50%; }

#venus .planet {
	animation-name: shadow-venus; }

@keyframes shadow-venus {
	0% {
		box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
		/* LEFT */ }

	25% {
		box-shadow: inset 22px -20px 10px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	25.5% {
		box-shadow: inset -22px -20px 10px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	50% {
		box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
		/* RIGHT */ }

	75% {
		box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
		/* TOP */ }

	100% {
		box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
		/* LEFT */ } }

.scaled.view-2D #venus .planet,
.scaled.view-3D #venus .planet {
	box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
	/* RIGHT */ }

/* --------------------------------------------------------------------------- earth ; pos: Right */
#earth .pos {
	left: 100%;
	top: 50%; }

#earth .planet {
	animation-name: shadow-earth; }

@keyframes shadow-earth {
	0% {
		box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
		/* RIGHT */ }

	25% {
		box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
		/* TOP */ }

	50% {
		box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
		/* LEFT */ }

	75% {
		box-shadow: inset 24px -20px 15px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	75.01% {
		box-shadow: inset -24px -20px 15px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	100% {
		box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
		/* RIGHT */ } }

.scaled.view-2D #earth .planet,
.scaled.view-3D #earth .planet {
	box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
	/* RIGHT */ }

/* --------------------------------------------------------------------------- moon */
#earth .orbit .pos {
	left: 100%;
	top: 50%; }

/* --------------------------------------------------------------------------- mars ; pos: Bottom */
#mars .pos {
	left: 50%;
	top: 100%; }

#mars .planet {
	animation-name: shadow-mars; }

@keyframes shadow-mars {
	0% {
		box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	25% {
		box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
		/* RIGHT */ }

	50% {
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
		/* TOP */ }

	75% {
		box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
		/* LEFT */ }

	99.99% {
		box-shadow: inset 18px -10px 10px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	100% {
		box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ } }

.scaled.view-2D #mars .planet,
.scaled.view-3D #mars .planet {
	box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
	/* RIGHT */ }

/* --------------------------------------------------------------------------- jupiter ; pos: Right */
#jupiter .pos {
	left: 100%;
	top: 50%; }

#jupiter .planet {
	animation-name: shadow-jupiter; }

@keyframes shadow-jupiter {
	0% {
		box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
		/* RIGHT */ }

	25% {
		box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.5);
		/* TOP */ }

	50% {
		box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
		/* LEFT */ }

	75% {
		box-shadow: inset 94px -30px 40px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	75.01% {
		box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	100% {
		box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
		/* RIGHT */ } }

.scaled.view-2D #jupiter .planet,
.scaled.view-3D #jupiter .planet {
	box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
	/* RIGHT */ }

/* --------------------------------------------------------------------------- saturn ; pos: Left */
#saturn .pos {
	left: 0;
	top: 50%; }

#saturn .planet {
	animation-name: shadow-saturn; }

@keyframes shadow-saturn {
	0% {
		box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
		/* LEFT */ }

	25% {
		box-shadow: inset 80px -30px 50px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	25.01% {
		box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	50% {
		box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
		/* RIGHT */ }

	75% {
		box-shadow: inset -2px 3px 2px rgba(0, 0, 0, 0.5);
		/* TOP */ }

	100% {
		box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
		/* LEFT */ } }

.scaled.view-2D #saturn .planet,
.scaled.view-3D #saturn .planet {
	box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
	/* RIGHT */ }

/* --------------------------------------------------------------------------- saturn ring */
/*

#saturn .ring           { animation-name:     shadow-saturn-ring; }

@keyframes
shadow-saturn-ring{ 0%   { box-shadow: inset -16px  0      4px   rgba(20, 40, 50, 0.45); opacity: .4; }
                  25%    { box-shadow: inset -5px   -30px   12px  rgba(20, 40, 50, 0.3);  opacity: 1; }
                  25.01% { box-shadow: inset 5px    -30px   12px  rgba(20, 40, 50, 0.3);  opacity: 1; }
                  50%    { box-shadow: inset 16px   0      4px   rgba(20, 40, 50, 0.45);  opacity: .4; }
                  75%    { box-shadow: inset 0      30px  50px  rgba(20, 40, 50, 0);  opacity: .3; }
                  100%   { box-shadow: inset -16px  0      4px   rgba(20, 40, 50, 0.45);  opacity: .4; }
                }

.scaled.view-2D #saturn .ring,
.scaled.view-3D #saturn .ring { box-shadow: inset 16px   0      4px   rgba(20, 40, 50, 0.6); }

*/
/* --------------------------------------------------------------------------- uranus ; pos: Left */
#uranus .pos {
	left: 0;
	top: 50%; }

#uranus .planet {
	animation-name: shadow-uranus; }

@keyframes shadow-uranus {
	0% {
		box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
		/* LEFT */ }

	25% {
		box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	25.01% {
		box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	50% {
		box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
		/* RIGHT */ }

	75% {
		box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
		/* TOP */ }

	100% {
		box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
		/* LEFT */ } }

.scaled.view-2D #uranus .planet,
.scaled.view-3D #uranus .planet {
	box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
	/* RIGHT */ }

/* --------------------------------------------------------------------------- neptune ; pos: Top */
#neptune .pos {
	left: 50%;
	top: 0; }

#neptune .planet {
	animation-name: shadow-neptune; }

@keyframes shadow-neptune {
	0% {
		box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
		/* TOP */ }

	25% {
		box-shadow: inset 12px 0 5px rgba(0, 0, 0, 0.5);
		/* LEFT */ }

	50% {
		box-shadow: inset 50px -15px 40px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	50.01% {
		box-shadow: inset -50px -15px 40px rgba(0, 0, 0, 0.5);
		/* BOTTOM */ }

	75% {
		box-shadow: inset -12px 0 5px rgba(0, 0, 0, 0.5);
		/* RIGHT */ }

	100% {
		box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
		/* TOP */ } }

.scaled.view-2D #neptune .planet,
.scaled.view-3D #neptune .planet {
	box-shadow: inset -12px 0 5px rgba(0, 0, 0, 0.5);
	/* RIGHT */ }

/* --------------------------------------------------------------------------- DEBUG
.pos,
.planet,
.orbit,
.ring { animation-duration: 20s!important; }

/* */
/* --------------------------------------------------------------------------- navigation styles */
dl.infos {
	position: absolute;
	display: block;
	opacity: 0;
	width: 100%;
	height: 100%;
	margin-top: -90%;
	margin-left: 90%;
	padding-left: 100%;
	transform-origin: 100% 100%;
	transform-style: preserve-3d;
	transform: rotateX(90deg); }

dl.infos:before {
	position: absolute;
	content: '';
	width: 15px;
	height: 30px;
	left: 15px;
	bottom: 0;
	border-top: 1px solid white;
	border-left: 1px solid white;
	transform-style: preserve-3d;
	transform: skew(-45deg, 0deg);
	box-shadow: inset 1px 1px black; }

dl.infos dt {
    position: absolute;
    left: 50px;
    margin-bottom: 20px;
    bottom: 0;
    color: #FFF;
    font-size: 14px;
    text-shadow: 1px 1px 2px black; }

dl.infos dd:after {
    position: absolute;
    left: 50px;
    bottom: 45px;
    width: 300px;
    color: #FFF;
    font-size: 22px;
    text-shadow: 1px 1px 2px black; }

dl.infos dd span:after {
    position: absolute;
    left: 50px;
    bottom: 65px;
    width: 300px;
    color: #FFF;
    font-size: 11px;
    text-shadow: 1px 1px 2px black; }

.sun #sun .infos,
.mercury #mercury .infos,
.venus #venus .infos,
.earth #earth .infos,
.mars #mars .infos,
.jupiter #jupiter .infos,
.saturn #saturn .infos,
.uranus #uranus .infos,
.neptune #neptune .infos {
	display: block;
	opacity: 1;
	transform: rotateX(0deg); }

.mercury #mercury.orbit,
.venus #venus.orbit,
.earth #earth.orbit,
.mars #mars.orbit,
.jupiter #jupiter.orbit,
.saturn #saturn.orbit,
.uranus #uranus.orbit,
.neptune #neptune.orbit {
	border: 1px solid rgba(255, 255, 255, 0.8); }

.hide-UI h1,
.hide-UI #data,
.hide-UI dl.infos,
.hide-UI #controls {
	opacity: 0!important;
	margin-top: -30px; }

.hide-UI #data {
	margin-bottom: -30px; }

.hide-UI .orbit {
	border: 1px solid rgba(255, 255, 255, 0.2) !important; }

h1 {
	width: 100%;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	color: rgba(255, 255, 255, 0.8); }

h1 span, #navbar h1 a {
	display: inline;
	position: relative;
	padding: 0;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	color: rgba(255, 255, 255, 0.5); }

#navbar, #controls, #data {
	background: rgba(0, 0, 0, 0.4); }

#navbar {
	z-index: 99;
	position: absolute;
	top: 0;
	left: 0;
	padding: 16px;
	width: 100%;
	height: 48px; }

#navbar a, #data a, #controls label {
	color: rgba(255, 255, 255, 0.6);
	display: block;
	position: relative;
	text-decoration: none; }

#navbar a:hover, #data a:hover, #controls label:hover {
	color: #FFF; }

#data a.active {
	color: #0CF; }

#navbar a {
	position: absolute;
	top: 0;
	height: 48px;
	padding: 16px;
	font-size: 14px; }

#toggle-data {
	left: 0; }

#toggle-controls {
	right: 0; }

#data, #controls {
	z-index: 99;
	position: absolute;
	opacity: 1;
	top: 49px;
	padding: 16px; }

.data-close #data {
	left: -100%; }

.data-open #data {
	left: 0; }

.controls-close #controls {
	left: -100%; }

.controls-open #controls {
	left: 0; }

#data a {
	margin-bottom: 1px;
	padding: 6px 10px;
	font-size: 18px; }

#controls label {
	opacity: .6;
	height: 25px;
	margin-bottom: 10px; }

#controls label:hover {
	opacity: 1; }

#controls label:before {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	margin-top: 3px;
	text-align: center;
	color: #FFF;
	z-index: 99; }

#controls label span {
	display: block;
	margin-left: 36px;
	padding-top: 4px;
	font-size: 14px;
	color: #FFF; }

#controls input {
	display: block;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;}

#controls input[type="radio"]:before {
	content: '';
	display: block;
	position: absolute;
	width: 22px;
	height: 22px;
	border: 2px solid #FFF;
	border-radius: 16px; }

#controls input:checked[type="radio"]:after {
	content: '';
	display: block;
	top: 3px;
	margin-left: 3px;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #FFF;
	z-index: 99; }

#controls input[type="checkbox"]:before {
	content: '';
	display: block;
	position: absolute;
	width: 100px;
	height: 22px;
	border: 2px solid #FFF;
	border-radius: 16px; }

#controls input[type="checkbox"]:after {
	content: '';
	display: block;
	top: 3px;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #FFF;
	z-index: 99; }

#controls label.set-view:before {
	font: bold small-caps 11px/20px sans-serif; }

.view-3D #controls label.set-view:before {
	content: '2D';
	margin-left: 82px; }

.view-2D #controls label.set-view:before {
	content: '3D';
	margin-left: 7px; }

.view-3D #controls .set-view input:after {
	margin-left: 3px; }

.view-2D #controls .set-view input:after {
	margin-left: 81px; }

#controls label.set-zoom:before {
	font: normal small-caps 18px/14px sans-serif; }

.zoom-large #controls label.set-zoom:before {
	content: '+';
	margin-left: 82px;
	margin-top: 6px;}

.zoom-close #controls label.set-zoom:before {
	content: '-';
	margin-left: 7px;
	margin-top: 5px;}

.zoom-large #controls .set-zoom input:after {
	margin-left: 3px; }

.zoom-close #controls .set-zoom input:after {
	margin-left: 81px; }

/* --------------------------------------------------------------------------- transitions */
.pos {
	transition-property: top, left; }

#solar-system, .orbit,
.planet,
.satelite,
.ring {
	transition-property: width, height, top, left, margin-left, margin-top, webkit-transform; }

#sun, .icon {
	transition-property: width, height, webkit-transform; }

#solar-system,
#sun,
.orbit,
.pos,
.planet,
.satelite,
.ring,
.infos,
.icon {
	transition-duration: .8s;
	transition-timing-function: ease-in-out; }

#solar-system,
#sun,
.planet,
.satelite,
.ring {
	transition-delay: 0s; }

.pos {
	transition-delay: 1s; }

.opening #solar-system,
.opening #sun,
.opening .orbit,
.opening .pos,
.opening .planet,
.opening .satelite,
.opening .ring,
.opening .infos,
.opening h1,
.opening #data,
.opening dl.infos,
.opening #controls {
	transition-duration: 0s;
	transition-delay: 0s; }

.opening .pos {
	transition-delay: 0s; }

h1, #data, #controls {
	transition-property: opacity, margin;
	transition-duration: .8s;
	transition-timing-function: ease-in-out; }

h1 {
	transition-delay: .35s; }

#data {
	transition-delay: .7s; }

#controls {
	transition-delay: 1s; }

/* --------------------------------------------------------------------------- images */
.body-div {
	background-image: url(../imgs/solar/solarsystembackground.png);}

#universe {
	background-image: url(../imgs/solar/universe.png);}

#sun {
	background-image: url(../imgs/solar/sun.png);}

#mercury .planet {
	background-image: url(../imgs/solar/mercury.png);}

#venus .planet {
	background-image: url(../imgs/solar/venus.png);}

#earth .planet {
	background-image: url(../imgs/solar/earth.png);}

#earth .moon {
	background-color: white;
}

#mars .planet {
	background-image: url(../imgs/solar/mars.png);}

#jupiter .planet {
	background-image: url(../imgs/solar/jupiter.png);}

#saturn .planet {
	background-image: url(../imgs/solar/saturn.png);}

#uranus .planet {
	background-image: url(../imgs/solar/uranus.png);}

#neptune .planet {
	background-image: url(../imgs/solar/neptune.png);}

/* --------------------------------------------------------------------------- responsive styles */
@media screen and (max-width: 299px) {
	#universe {
		font-size: 20%; } }
@media screen and (min-width: 300px) {
	#universe {
		font-size: 24%; } }
@media screen and (min-width: 500px) {
	#universe {
		font-size: 36%; } }
@media screen and (min-width: 600px) {
	#universe {
		font-size: 44%; } }
@media screen and (min-width: 760px) {
	#universe {
		font-size: 58%; } }
@media screen and (min-width: 1000px) {
	#universe {
		font-size: 73%; }

	#navbar, #controls, #data {
		background: transparent; }

	#navbar a {
		display: none; }

	#universe h1 {
		font-size: 22px;
		margin-top: 8px; }

	#controls {
		padding-right: 32px;
		top: 12px; }

	#data {
		position: absolute;
		top: inherit;
		bottom: 0;
		width: 100%;
		text-align: center; }

	#data a {
		display: inline-block;
		text-align: center;
		font-size: 18px;
		padding: 15px 15px; }

	.data-open #data, .data-close #data {
		left: 0; }

	.controls-open #controls, .controls-close #controls {
		left: 0; } }
@media screen and (min-width: 1300px) {
	#universe {
		font-size: 100%; } }
@media screen and (min-width: 1600px) {
	.zoom-close .scale-d #solar-system {
		margin-left: -120%; } }


/* SOLAR SYSTEM CSS END */


/*.body-div{*/
	/*display:none;*/
/*}*/

@media screen and (max-width: 1400px){

	.header-ic, .grid1-ic, .grid2-ic, .grid3-ic, .grid4-ic, .footer-ic{
		width:1200px;
	}

}

@media screen and (max-width: 1300px){

	.header-ic, .grid1-ic, .grid2-ic, .grid3-ic, .grid4-ic, .footer-ic{
		width:1100px;
	}

}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 5000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}